/* 
Use this file to implement all the CSS rules needed to create the CSS grid layout.
Notice that this file has to be attached to the page right after the styles.css.
This means that this set of CSS rules will override some of the rules of the previous css file.

Your html file will look like:
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="grid-layout.css">
*/

/* CSS RULES FOR LARGE SCREEN HERE */
.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 50px;
    grid-template-areas:
    "header     header"
    "main       sidebar"
    "footer     footer"
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

header nav li {
    display: inline-block;
    margin-right: 10px;
}

header button {
    justify-self: end;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.main {
    grid-area: main;
    text-align: justify;
}

.main p {
    margin: 15px 0;
}

.main img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
    text-align: center;
}
/* end CSS RULES FOR LARGE SCREEN HERE */

/* CSS RULES OVERRIDING THE LAYOUT FOR SMALL SCREENS */
@media (max-width: 600px) {
    .container {
        grid-template-areas:
        "header     header"
        "main       main"
        "sidebar    sidebar"
        "footer     footer"
    }
    
}
/* end CSS RULES OVERRIDING THE LAYOUT FOR SMALL SCREENS */

