/***************************************
GENERAL
***************************************/
html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    /*Background of page*/
    background-image: url("../images/background.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Contains the header, menu, content(wrapper) and footer */
.container {
    display: grid;
    background-color: rgba(240, 240, 240, 0.9);
    grid-template-columns: 5fr 11fr;
    min-height: 100%;
    grid-template-rows: auto 1fr 80px;
    grid-template-areas:
    "header     menu"
    "main       main"
    "footer     footer"
}

/* For the main content of the page */
.wrapper {
    grid-area: main;
    margin: 20px 4%;
    display: grid;
    grid-template-columns: 11fr 5fr;
    column-gap: 5%;
    row-gap: 30px;
    grid-template-areas:
    "content    sidebar"
    "extra      extra"
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 48px;
    margin: 0;
}

h1 a {
    /*Remove style*/
    text-decoration: none;
}

h3 {
    margin-bottom: 5px;
}

a {
    color: white;
}

main {
    grid-area: content;
    padding: 0 5%;
}

/* This is the background boxes of the "main" content of the page */
main, #sidebar, #extra, #ice-cream-list {
    background-color: rgba(161, 4, 22, 0.85);
    color: white;
    border-radius: 10px;
    
}

header {
    grid-area: header;
    background-color: #363636;
    color: white;
    padding: 10px 5%;
    text-align: center;
    /*Create a small shadow beneath the navigation bar*/
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.23);
}

header p {
    margin: 10px 0;
}

.selected {
    border-bottom: 3px solid white;
}


/***************************************
NAVIGATION
***************************************/

nav {
    /* Makes the content still fill the whole grid */
    display: grid;
    /* Set grid area to menu */
    grid-area: menu;
    /*Remove spaces between list items/boxes*/
    font-size: 0;
    /*Allign all text to the center*/
    text-align: center;
    /*Create a small shadow beneath the navigation bar*/
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #A10416;
    color: white;
}
nav ul {
    /* Align menu buttons to the bottom */
    align-self: end;
    /*Remove list style from the unordered list*/
    list-style: none;
    /*Set margin to 0*/
    margin: 0;
    /*Set padding to 0*/
    padding: 0;
}

nav li {
    /*Navigation should be inline*/
    display: inline;
}

nav a {
    /*Navigation should be inline blocks horizontal*/
    display: inline-block;
    /*Add som air around the word*/
    padding: 14px 26px;
    /*Make the text thicker*/
    font-weight: 600;
    /*Make the text bigger*/
    font-size: 18px;
    /*Remove style*/
    text-decoration: none;
    /*Set the color to white*/
    color: white;
}

nav a:hover {
    /* Set color on text when user is hovering over it */
    color: #363636;
}

/***************************************
Sidebar
***************************************/

#sidebar {
    grid-area: sidebar;
    max-height: 160px;
    padding: 20px 10%;
}



/***************************************
Extra
***************************************/
#extra, #ice-cream-list {
    grid-area: extra;
    padding: 20px 5%;
}

/***************************************
Footer
***************************************/
footer {
    grid-area: footer;
    background-color: #A10416;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 15px 0;
}

/***************************************
Page: index.html
***************************************/
#home main {
    max-height: 200px;
}

#extra img {
    float: left;
    width: 31.333333%;
    margin: 0 1% 20px 1%;
    list-style: none;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
}



/***************************************
Page: ice-creams.html
***************************************/

#menu-item {
    padding: 0 5%;
    margin-bottom: 15px;
    background-color: #363636;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

#menu-item h2, #menu-item p {
    padding: 5px 0;
}

#menu-item .price {
    float: right;
    font-size: 25px;
    
}

/***************************************
Page: reservations.html
***************************************/
form div {
    margin-top: 15px;
}   

form label {
    margin: 15px 0 5px 0;
    display: block;
}

/* This is for adults, children and infants input */
form div input {
    display: inline-block;
    width: 50px;
    margin-right: 5px;
}

form div label {
    /* Set the margin for adults, children and infants text under the input */
    margin: 5px 0 0 0;
}

form div {
    display: inline-block;
    margin: 0;
}

form #submit {
    margin: 20px 0;
    position: relative;
    display: block;
}

/***************************************
Page: contact.html
***************************************/

#contact #extra iframe {
    height: 400px;
    width: 100%;
    display: block;
    margin: 10px auto;
    border: 1px solid black;
}

