

body {
    background-image: url("../images/heroes.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    
}

table, td {
    border: 1px solid black;
}

footer {
    text-align: center;
}