/***************************************
FONTS
***************************************/

@font-face {
    font-family: "daredevil";
    src: url(../fonts/daredevil.ttf);
}

/***************************************
GENERAL
***************************************/

body, html, .background-shadow {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /*Background of page*/
    background-image: url("../images/heroes.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
}

.background-shadow {
    background-repeat: no-repeat;
    background-size: 100%;
    /*Keep shadow inside window, fixed position does not work*/
    overflow-y: scroll;
    /* For index.html page */
    background-image: linear-gradient(rgba(35, 38, 42, 50%), rgb(35,38, 42));
}

h1 {
    /*Background image file*/
    background: url(../images/honneycomb.png);
    /*Repeat picutre in x and y axis*/
    background-repeat: repeat-x repeat-y;
    /*Set background color*/
    background-color: red;
    /*Set the space between letters*/
    letter-spacing: 0.2em;
    /*Set the font*/
    font-family: daredevil, Helvetica, sans-serif;
    /*Height of h1*/
    height: 2em;
    color: white;
    text-align: center;
    margin: 0;
}

main {
    padding: 5% 20%;
}

.content {
    box-shadow: 10px 10px 10px 1px rgba(231, 34, 49, 21%);
    /* For index.html page */
    background: linear-gradient(rgba(225, 225, 225, 0.7), rgb(255, 255, 255, 0.9));
}

.content p, .content td {
    padding: 0 5%;
    text-align: justify;
    font-family: Georgia, Times, serif;
    /* For index.html page */
    color: black;
}

/***************************************
PAGE: index.html
***************************************/

table {
    border-collapse: collapse;
    margin: 0 5%;
}

.content img {
    padding: 20px 10px;
}

.content td {
    padding: 10px;
    border-bottom: 1px solid white;
}

.content a {
    color: black;
}

.no-link {
    text-decoration: none;
}

/***************************************
FOOTER
***************************************/

footer {
    text-align: center;
    color: white;
}


